$darkblue: #055f75;
$black: #272727;
$orange: #ff8e25;
$white: #e6e6e4;
$hero-bg: #cbcbc4;

section {
    width: 85%;
    margin: 0 auto;
}

.divider{
    background: #111;
    width: 100%;
    height: 1px;
}

.button{
    background: $orange;
    color: #fff;
    padding: 1rem 1.4rem;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 600;
    &:active{
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
}

.btn-primary{
    background: #111;
    color: #fff;
    padding: 1rem 1.4rem;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    border-radius: 4px;
    span{
        font-size: 1.2rem;
    }
    &:active{
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
}

.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.tophead {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-family: 'Tanker', sans-serif;
    color: $black;
}

.logo {
    cursor: pointer;
    h3 {
        text-transform: lowercase;
        font-size: 1.75rem;
        color: $black;
        font-family: 'Telma', cursive;
        span{
            color: $orange;
            font-family: 'Telma', cursive;
        }
    }
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    color: $black;
    padding: 1rem 0;
    ul{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    a, button{
        text-transform: uppercase;
        font-size: 1.25rem;
    }
}

.orange{
    background: $orange;
    padding: 4px 8px;
    color: $white;
    font-weight: 700;
    border-radius: 50%;
}

.home{
    height: 80vh;
    background:  #cbcbc4;
    background-size: 50%;
}
.home-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: $black;
    .home-text {
        text-align: center;
        z-index: 40;
        margin-top: 6rem;
        h2 {
            font-weight: 600;
            font-size: 4rem;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
        h4 {
            text-transform: capitalize;
            margin: 1rem 0;
        }
        button{
            position: absolute;
            left: 48%;
        }
    }
    .home-image{
        z-index: 10;
        position: relative;
        .image{
            max-width: 600px;
            height: 1000px;
            border: 1px solid #111;
        }
    }
}

.overlay{
    width: 100%;
    background-color: $white;
    height: 40vh;
    position: absolute;
    bottom: 80px;
    z-index: 1;

}

.star{
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #befd70;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    font-weight: 800;
    position: absolute;
    left: 90%;
    bottom: -10px;
    animation: spin 5s linear infinite;}

    @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

.featured{
    padding: 2rem 0;
    z-index: 50;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stocks-container {
    width: 100%;
    gap: 2rem;
    margin: 2rem 0;
}

.stock {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 390px;
    cursor: pointer;
    border: 2px solid $black;
    border-radius: 4px;
    transition: 0.3s ease;
    &:hover {
        transform: scale(0.95);
    }
    .stock-image {
        height: 170px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .stock-text {
        margin-top: 10px;
    }
    h4{
        text-transform: capitalize;
        font-size: 1rem;
        text-overflow: ellipsis;
        width: 60%;
    }
    h6{
       padding: 12px 8px;
       font-size: 1rem; 
    }
    .price{
        font-size: 1rem;
        font-weight: 700;
    }
    .space-between{
        padding: 10px;
        height: 60px;
    }
    button{
        background: #111;
        color: $white;
        padding: 10px 14px;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 700;
    }
    .plus{
        background: none;
        border: 1px solid #111;
        color: $black;
    }
    .instock {
        background: #749b7b;
        text-align: center;
        color: #fff;
        width: 60px;
        font-size: 0.7rem;
        text-transform: capitalize;
        padding: 0.3rem;
        border-radius: 15px;
        margin: 10px;
    }
}


.offer{
    padding: 3rem 0;
    .grid-offer{
        display: grid;
        grid-template-columns: 40% 60%;
        width: 100%;
        gap: 3rem;
        place-items: center;
        justify-content: center;
        place-content: center;
    }
    &-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-top: 2rem;
        article{
            svg{
                font-size: 1.4rem;
            }
        }

    }
}

.review{
    padding: 3rem 0 1rem; 
    &-container{
        margin: 2rem 0 0;
    }
    &-card{
        width: 300px;
        padding: 1rem;
        border: 1px solid $black;
        .head{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 1rem;
        }

        .circle{
            width: 40px;
            height: 40px;
            background: $black;
            border-radius: 50%;
        }
    }
}

.hero-heading{
    text-align: center;
    background: $hero-bg;
    margin-bottom: 2rem;
    padding: 4rem 0 2rem;
    h2{
        font-size: 5rem;
        @media screen and (max-width: 768px) {
            font-size: 3rem;
        }
    }
    p{
        text-transform: uppercase;
        font-size: 1.2rem;
    }
}

.products{
    margin: 0 0 2rem;
}

.products-container{
    display: flex;
    gap: 1.5rem 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



.product-detail-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: 2rem;
    color: #ddd;
    margin: 4rem 0;
    .product-detail-image{
        width: 600px;
        height: 400px;

    }
    .main-image-container{
        background: $white;
        img{
            object-fit: cover;
        }
    }
    .small-images-container{
        max-width: 450px;
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        border: 1px solid $black;
        img{
            width: 100px;
            height: 80px;
            object-fit: cover;
            background: $white;
        }
    }
    .product-detail-desc {
        color: $black;
        border: 1px solid $black;
        padding: 1rem;
        background: #ddddbf;
        h4 {
            font-size: 2rem;
            text-transform: uppercase;
        }
        h3{
            font-size: 1.4rem;
        }
        .reviews{
            display: flex;
            gap: 1rem;
            align-items: center;
            margin: 0 0 1rem;
            display: flex;
            gap: 8px;
            align-items: center;
            svg{
                font-size: 1.4rem;
            }
        }
        .buttons {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 2rem;
        }
        button{
            background: #a8ed52;
            color: $black;
            border: 1px solid $black;
        }
        .quantity{
            margin-top: 2rem;
        }
        .quantity-desc{
            display: flex;
            align-items: center;
            margin-top: 10px;
            span{
                padding: 8px 1rem;
                border: 1px solid $black;
                cursor: pointer;
            }
            .number{
                border-left: none ;
                border-right: none ;
            }
        }
    }
    
}




.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ddd;
    z-index: 60;
    touch-action: none;
    background-color: rgba(0, 0, 0, 0.5);
    .modal-container {
        background-color: #fff;
        width: calc(13rem + 13vw);
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        border-radius: 20px;
        transition: all 0.4s ease;
        .content {
            margin: 1rem 0;
            color: #111;
            h4 {
                margin: 1rem 0;
                text-transform: capitalize;
            }
            p {
                text-transform: capitalize;
            }
        }
        .ok {
            background-color: #fc3b3b;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
            padding: 0.7rem 1.5rem;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.2s ease;
            margin-top: 1rem;
            &:hover {
                transform: scale(0.9);
            }
        }
    }
}

.overflow{
    padding: 2rem 0;
    background: $white;
    .parallax {
        overflow: hidden;
        letter-spacing: -2px;
        line-height: 0.8;
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
        background: #0e100f;
        color: #cbcbc4;
        padding:2rem 0;
        .scroller {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 64px;
            display: flex;
            white-space: nowrap;
            display: flex;
            flex-wrap: nowrap;
          }
          
          span {
            display: block;
            margin-right: 30px;
          }
    }      
}

.subscribe{
    padding: 4rem 0;
    .contact-section {
        background: #a8ed52;
        display: flex;
        align-items: center;
        padding: 1rem;
        border-radius: 5px;
    }
    .tophead{
        font-size: 4rem;
        max-width: 600px;
        line-height: 3.8rem;
    }
    
    .contact-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        .form-input {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            height: 48px;
            margin-top: 1rem;
            input{
                padding: 0 1rem;
                height: 100%;
                background: #fff;
            }
            button{
                height: 100%;
                border-radius:  0 4px 4px 0;
            }
        }
        .contact-text{
            padding: 0 2rem;
        }
        .contact-image {
            height: 200px;
            position: relative;
          img{
            height: 200px;
            width: 300px;
            object-fit: contain;
          }
          @media screen and (max-width: 800px) {
            display: none;
          }
        }
    }
}


footer {
    background: #cfd9d0;
    color: $black;
    padding: 1rem 0 0.3rem;
    .main-footer{
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
    }
    .form-input{
        width: 430px;
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 48px;
        margin-top: 1rem;
        input{
            padding: 0 1rem;
            height: 100%;
            width: 300px;
            background: #fff;
        }
        button{
            height: 100%;
            border-radius: 0 4px 4px 0;
        }
    }
    .footer-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-top: 3rem;
        h4 {
            font-size: 1.4rem;
            text-transform: capitalize;
            margin-bottom: 8px;
        }
        h6 {
            font-size: 1rem;
            font-weight: 400;
            text-decoration: underline;
        }
        a {
            margin-top: 1rem;
            text-transform: capitalize;
            transition: all 0.3s ease;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .social {
        display: flex;
        gap: 1.35rem;
        svg {
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    }
    .divider{
        margin: 2rem 0;
    }
    .copy {
        margin-top: 1rem;
        text-align: center;
        padding: 0.5rem;
    }
}

.search-modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 60;
    touch-action: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3rem 0;

    .search-container{
        padding: 1.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        background: $white;
        height: 450px;
        .search-products{
            padding: 1rem 0;
        }
    }
    .form-input{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-bottom: 1px solid $black;
        input{
            background: none;
            width: 100%;
            &::placeholder{
                color: $black;
                font-weight: 800;
            }
        }
    }
    .nothing{
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        margin: 4rem 0;
    }
    .search-item{
        height: 250px;
        width: 200px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $black;
        cursor: pointer;
        transition: all 0.3s ease;
        .image{
            height: 150px;
            object-fit: cover;
            position: relative;
            margin-bottom: 1rem;
            cursor: pointer;
            img{
                object-fit: cover;
            }
        }
        h4{
            text-transform: capitalize;
            text-align: center;
        }
        &:hover{
            transition: all 0.3s ease;
            transform: scale(0.95);
        }
    }
}

.none{
    display: none;
}

@media screen and (max-width: 900px) {
    .footer{
        .main-footer{
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .product-detail-container{
        grid-template-columns: 100%;
        gap: 4rem;
    }
}

@media screen and (max-width: 830px) {
    section {
        width: 90%;
    }
    .none{
        display: flex;
    }
    .nav-list{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .offer{
        .grid-offer{
            grid-template-columns: 100%;
        }
        .offer-image{
            order: 2;
        }
    }
     .hero-heading{
            h2{
                font-size: 3rem;
            }
    }
    .product-detail-container{
        .product-detail-image{
            max-width: 450px;
        }
    }
}

@media screen and (max-width: 500px) {
    section {
        width: 95%;
    }
    .logo{
        h3, span{
            font-size: 1.5rem;
        }
    }
    .tophead{
        font-size: 2rem;
    }
    .home-container{
        .home-text{
            h2{
                font-size: 3rem;
            }
            button{
                margin-left:  -2rem;
            }
        }
    }
    .overlay{
        bottom: 100px;
    }
    .star{
        left: 80%;
    }
    .offer-container{
        gap: 2rem 10px;
        p{
            font-size: 0.8rem;
        }
    }
    .subscribe{
        .tophead{
            font-size: 2rem;
            line-height: 2.5rem;
        }
        .contact-header{
            .contact-text{
                padding: 0;
            }
        }
    }
    .footer{
        .footer-container{
            grid-template-columns: 100%;
        }
        .form-input{
            input{
                width: 200px;
            }
        }
    }
    .product-detail-container{
        .product-detail-image{
            max-width: 350px;
        }
    }
    .slug-page{
        .hero-heading{
            padding-top: 5rem;
            h2{
                font-size: 2rem;
            }
        }
    }
}

