@import url('https://fonts.googleapis.com/css2?family=Jost&family=Livvic&family=Poppins&family=Roboto&family=Rubik+Marker+Hatch&display=swap');
$darkblue: #055f75;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

a,
button {
    cursor: pointer;
    font-family: 'Jost';
}

p {
    font-family: "Poppins";
    font-size: 0.7rem;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: #16a54d;
    font-family: 'Jost', sans-serif;
}

section {
    width: 85%;
    margin: 0 auto;
}

section {
    width: 85%;
    margin: 0 auto;
}

.logo {
    h3 {
        text-transform: uppercase;
        font-family: 'Rubik Marker Hatch', sans-serif;
        font-size: 1.75rem;
    }
}

.home-container {
    background: url('../public/assets/shoe20.jpeg') no-repeat center center;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    height: 60vh;
    .home-text {
        width: 100%;
        height: 100%;
        padding: 2rem;
        gap: 1.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.75);
        color: #fff;
        border-radius: 5px;
        h6 {
            font-weight: 600;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
        h4 {
            text-transform: capitalize;
            font-family: 'Roboto';
        }
        p {
            font-family: 'Livvic';
            width: 70%;
            margin: 1rem 0;
        }
    }
}

.brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ddd;
    margin-top: 3rem;
    .brand {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    svg {
        font-size: 2rem;
    }
    h6 {
        font-size: 1.5rem;
    }
}

.products-heading {
    margin-top: 3rem;
    text-align: center;
    color: #ddd;
    .tophead {
        font-size: 2rem;
        text-transform: capitalize;
        font-family: 'Livvic', serif;
    }
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin: 2rem 0;
    .about-text {
        font-family: 'Poppins';
        width: 60%;
        h4 {
            font-family: 'Livvic';
            text-transform: capitalize;
        }
        p {
            font-size: 0.9rem;
            line-height: 1.5rem;
            font-weight: 400;
        }
    }
    .about-img {
        width: 15rem;
        height: 15rem;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.see-more {
    padding: 0.7rem;
    background: #fc3b3b;
    color: #fff;
    border-radius: 5px;
    text-transform: capitalize;
    width: 100px;
    transition: all 0.3s ease;
    &:hover {
        background: none;
        color: #fc3b3b;
        border: 2px solid #fc3b3b;
        transition: all 0.3s ease;
    }
}

.stocks-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    margin: 2rem 0;
}

.stock {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 330px;
    background: #ddd;
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 10px;
    transition: 0.3s ease;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    &:hover {
        transform: scale(0.9);
    }
    .stock-image {
        height: 190px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .stock-text {
        margin-top: 10px;
    }
    h6 {
        font-family: "Roboto";
        text-transform: uppercase;
        font-size: 1rem;
        text-align: center;
    }
    p {
        font-family: "Jost";
        font-size: 1.1rem;
        font-weight: 600;
        color: #fc3b3b;
        margin: 5px 0;
    }
    .stock-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .stock-svg {
        display: flex;
        gap: 5px;
        svg {
            color: #fc3b3b;
            font-size: 1.4rem;
            transition: all 0.3s ease;
            &:hover {
                transition: all 0.3s ease;
                transform: scale(1.1);
            }
        }
    }
    .instock {
        background: #0bdd31;
        text-align: center;
        color: #fff;
        width: 60px;
        font-size: 0.7rem;
        text-transform: capitalize;
        padding: 0.3rem;
        border-radius: 15px;
        margin-bottom: 5px;
    }
}

.product-detail-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    color: #ddd;
    margin: 2rem 0;
    .product-detail-desc {
        h1 {
            font-family: "Roboto";
            text-transform: capitalize;
        }
        .buttons {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
            .trans {
                background: none;
                color: #fc3b3b;
                border: 2px solid #fc3b3b;
                &:hover {
                    background: #fc3b3b;
                    color: #fff;
                }
            }
        }
    }
}

.flex {
    h5 {
        font-family: "Roboto";
        text-transform: capitalize;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ddd;
    z-index: 10;
    touch-action: none;
    background-color: rgba(0, 0, 0, 0.9);
    .modal-container {
        background-color: #fff;
        width: calc(13rem + 13vw);
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        border-radius: 20px;
        transition: all 0.4s ease;
        .content {
            margin: 1rem 0;
            color: #111;
            h4 {
                margin: 1rem 0;
                text-transform: capitalize;
            }
            p {
                text-transform: capitalize;
            }
        }
        .ok {
            background-color: #fc3b3b;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
            padding: 0.7rem 1.5rem;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.2s ease;
            margin-top: 1rem;
            &:hover {
                transform: scale(0.9);
            }
        }
    }
}

.contact-section {
    background: #fc3b3b;
    padding: 2rem 0;
    margin-top: 3rem;
}

.contact-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .contact-container {
        width: 50%;
        .form-input {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            padding: 5px;
            margin-top: 10px;
            border-radius: 5px;
            div {
                width: 100%;
                display: flex;
                gap: 5px;
                align-items: center;
            }
            svg {
                font-size: 1rem;
                color: #808080;
            }
        }
        h4 {
            font-size: 1rem;
            text-transform: capitalize;
        }
        h6 {
            font-weight: 400;
            font-size: 1rem;
            color: #fff;
            opacity: 0.85;
            margin: 5px 0;
        }
    }
    .contact-image {
        img {
            border-radius: 10px;
        }
    }
}

footer {
    background: #000;
    color: #fff;
    padding: 1rem 0 0.3rem;
    .footer-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin-top: 3rem;
        h4 {
            font-size: 1.4rem;
            text-transform: capitalize;
        }
        h6 {
            font-size: 0.8rem;
            font-weight: 400;
        }
        a {
            margin-top: 0.5rem;
            text-transform: capitalize;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .social {
        display: flex;
        gap: 10px;
        svg {
            margin-top: 1rem;
            font-size: 1.2rem;
        }
    }
    .copy {
        margin-top: 1rem;
        text-align: center;
        padding: 0.5rem;
        border-top: 1px solid #ddd;
    }
}

@media screen and (max-width: 1000px) {
    .home-container {
        .home-text {
            p {
                width: 100%;
            }
        }
    }
    footer {
        .footer-container {
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
    }
}

@media screen and (max-width: 800px) {
    .logo {
        h3 {
            font-size: 1.5rem;
        }
    }
    .brands {
        .brand {
            h6 {
                font-size: 1.25rem;
            }
            svg {
                font-size: 1.5rem;
            }
        }
    }
    .product-detail-container {
        grid-template-columns: 100%;
    }
    footer {
        .footer-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 830px) {
    section {
        width: 90%;
    }
    p {
        font-size: 0.7rem;
    }
    .brands {
        .brand {
            h6 {
                font-size: 0.8rem;
            }
            svg {
                font-size: 1.25rem;
            }
        }
    }
    .products-heading {
        .tophead {
            font-size: 1.4rem;
        }
        p {
            text-transform: capitalize;
        }
    }
    .about-container {
        .about-text {
            p {
                font-size: 0.75rem;
                line-height: 1.2rem;
            }
        }
        .about-img {
            width: 10rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .product-detail-container {
        .product-detail-desc {
            h1 {
                font-size: 1.4rem;
            }
            .price {
                font-size: 1.1rem;
            }
        }
    }
    .contact-header {
        .contact-container {
            width: 100%;
        }
        .contact-image {
            display: none;
        }
    }
}

@media screen and (max-width: 450px) {
    .logo {
        h3 {
            font-size: 1.25rem;
        }
    }
    .home-container {
        height: 50vh;
        .home-text {
            gap: 1rem;
            p {
                font-size: 0.65rem;
                margin: 0;
            }
        }
    }
    p {
        font-size: 0.7rem;
    }
    .see-more {
        font-size: 0.6rem;
        padding: 0.5rem;
    }
    .stocks-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        place-items: center;
    }
    .stock {
        width: 155px;
        height: 190px;
        cursor: pointer;
        padding: 0.7rem;
        margin-bottom: 1rem;
        .stock-image {
            height: 100px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .stock-text {
            margin-top: 10px;
        }
        h6 {
            font-size: 0.45rem;
        }
        p {
            font-size: 0.6rem;
        }
        .stock-svg {
            svg {
                font-size: 1rem;
            }
        }
        .instock {
            background: #0bdd31;
            text-align: center;
            color: #fff;
            width: 40px;
            font-size: 0.5rem;
            text-transform: capitalize;
            padding: 0.1rem;
            border-radius: 15px;
            margin-bottom: 5px;
        }
    }
    .product-detail-container {
        .image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .product-detail-image {
            width: 100%;
        }
    }
    .about-container {
        .about-text {
            p {
                font-size: 0.4rem;
                line-height: 0.7rem;
            }
        }
    }
    .cart-container {
        width: 80%;
    }
    .product-detail-container {
        .product-detail-desc {
            h1 {
                font-size: 1.25rem;
            }
        }
    }
    .contact-header {
        .contact-container {
            .form-input {
                width: 100%;
            }
        }
    }
    footer {
        .footer-container {
            h4 {
                font-size: 1rem;
            }
            a {
                font-size: 0.8rem;
            }
            grid-template-columns: 100%;
        }
    }
}

@media screen and (max-width: 390px) {
    .cart-container {
        width: 90%;
    }
    section {
        width: 92.5%;
    }
}

@media screen and (max-width: 345px) {
    .stocks-container {
        grid-template-columns: 100%;
    }
    .stock {
        width: 200px;
    }
}