@import url("https://api.fontshare.com/v2/css?f[]=expose@700,400&f[]=supreme@400&f[]=tanker@400&f[]=zodiak@400&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

.logo h3{
    font-family: 'Zodiak', sans-serif;
}

 h2, h1{
    font-family: 'Tanker', sans-serif;
}

a, li, button, h4{
    font-family: 'Expose', sans-serif;
}

p, h6, h5, span, div{
    font-family: 'Supreme', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: #e6e6e4;
    color: #111;
    border: 6px solid #111;
}

nav{
    background:  #cbcbc4;
}
a {
    color: inherit;
    text-decoration: none;
}

button, input, select, textarea{
    outline: none;
    border: none;
}

button{
    cursor: pointer;
}

.mySwiper{
    height: 450px;
    width: 100%;
}


.mySwiper .swiper-slide{
    width: auto;
}

.reSwiper{
    height: 300px;
    width: 100%;
}


.reSwiper .swiper-slide{
    width: auto;
}

.reSwiper .swiper-pagination-bullet-active{
    background: #000;
}

